body {
    color: #404040 !important;
    background-color: #eee !important;
    font-size: 18px;
}
::-webkit-scrollbar { width: 15px; background-color: #9b9b9b}
::-webkit-scrollbar-thumb { background-color: #28a745; }
.container {
    border-color: #28a745;
    border-style: solid;
    border-width: 20px 3px 5px 3px;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 2px 1px #9b9b9b;
}
.code-head {
    font-weight: bold;
    padding-bottom: 1px;
    border-bottom: 3px solid #28a745;
}
.php {
    margin-top: 5px;
}
.fa-clipboard {
    color: #28a745;
    cursor: pointer;
}